<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHANGE CREDENTIALS</title>
</head>
<body>

<h1>CHANGE CREDENTIALS</h1>

    <form action="changecredentials" method="post">
        <input type="text" name="oldusername" placeholder="Enter old username" required><br>
        <input type="password" name="oldpassword" placeholder="Enter old password" required><br>
        <input type="text" name="newusername" placeholder="Enter new username" required><br>
        <input type="password" name="newpassword" placeholder="Enter new password" required><br>
        <button>CHANGE</button>


    </form>

</body>
</html>