<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>WELCOME TO ADMIN DASHBOARD</h1><br>

    <h2 style="color : green" th:text="${message}"></h2>

    <a href="readallcontacts">READ ALL CONTACTS</a><br>
    <a href="readallbookings">READ ALL BOOKINGS</a><br>
    <a href="readallservices">READ ALL SERVICES</a><br>
    <a href="addservice">ADD SERVICE</a><br>
    <a href="changecredentials">CHANGE CREDENTIALS</a><br>
    <a href="/dologout">LOGOUT</a><br>


</body>
</html>